# Valid artifacts
node_modules/
backend/database/esco_occupations.csv
tabiya-livelihoods-classifier/

# Ignore frontend build output (since we copy to root)
frontend/dist/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#playwright
.env
